<section>
    <div class="footer-container mt-5">
        <div class="footer-section">
            <h4>About</h4>
            <ul>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our vision</a></li>
                <li><a href="#">Values</a></li>
                <li><a href="#">Team behind eBazaar</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">SPORT</a></li>
                <li><a href="#">CARS</a></li>
                <li><a href="#">RESIDENCE</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">WORK</a></li>
                <li><a href="#">TOOLS</a></li>
                <li><a href="#">ELECTRONICS</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Actions</h4>
            <ul>
                <li><a href="#">Sign up</a></li>
                <li><a href="#">Your profile</a></li>
                <li><a href="#">Add a post</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Let's Stay Connected</h4>
            <p>Enter your email to become premium member.</p>
            <form>
                <input type="email" placeholder="Your Email">
                <button type="submit">SUBMIT</button>
            </form>
            <div class="social-icons">
                <a href="#" class="fa fa-facebook h3"></a>
                <a href="#" class="fa fa-pinterest h3"></a>
                <a href="#" class="fa fa-instagram h3"></a>
                <a href="#" class="fa fa-twitter h3"></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <ul>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Accessibility Policy</a></li>
        </ul>
    </div>
</section>

