<style>
    body {
        background: rgb(238, 174, 202);
        background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    }

    .category_section {
        padding: 10px 0;
    }

    .category_container .box {
        text-align: center;
        margin-bottom: 30px;
    }

    .box {
        border-radius: 10px;
        transition: box-shadow 0.3s;
    }

    .box:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    .category_container .img-box {
        margin-bottom: 10px;
    }

    .category_container .detail-box h5 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
    }
</style>
<div class="hero_area">
    <section class="slider_section category_section layout_padding">
        <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel"
             style="margin-left:100px">
            <div class="carousel-inner" style="padding-left:100px">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5 md-1 mr-4">
                                <div class="detail-box" style="margin-top: 100px">
                                    <h1>
                                        Welcome to eBazaar <br>
                                        Explore Endless Possibilities
                                    </h1>
                                    <p>
                                        At eBazaar, your ultimate destination for all things travel, home, electronics,
                                        pets, and more, the world is at your fingertips. With a vast array of products
                                        and services curated just for you.
                                    </p>
                                    <div class="btn-box my-2">
                                        <a href="/posts" type="button" class="btn btn-info btn-lg text-light">
                                            VIEW ALL POSTS</a>
                                    </div>
                                </div>
                                <span>
                                    OR
                                </span>
                                <div class="btn-box my-2">
                                    <a href="/form" type="button" style="background-color: #ff3333"
                                       class="btn btn-lg text-light">ADD NEW
                                        POST</a>
                                </div>
                            </div>
                            <div class="col-md-4 md-1 img-container">
                                <div class="img-box">
                                    <img src="/images/slider-img.png" alt="Slider Image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="category_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>Choose a Category</h2>
        </div>

        <div class=" row category_container">
            <div class="col-md-4 " th:each="category : ${categories}">
                <a th:href="@{'/posts/' + ${category}}" class="text-decoration-none">
                    <div class="box">
                        <div class="img-box">
                            <img th:src="@{'/categories/' + ${category} + '.png'}">
                        </div>
                        <div class="detail-box pb-2">
                            <h5 th:text="${category}" class="text-dark text-capitalize"></h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


