<style>
    form input[type="text"],
    form input[type="email"],
    form select,
    form textarea {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ddd;
        border-radius: 5px;
    }


    form label {
        display: block;
    }
</style>
<div>
    <th:block xmlns:th="http://www.thymeleaf.org">
        <div>
            <h2 th:text="${category}"></h2>
        </div>
        <div class="container mt-5 mb-5">
            <div th:each="post : ${posts}" class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img th:src="@{'data:image/jpeg;base64,'+${post.generateBase64Image()}}" alt="Post Image" class="w-full h-full object-cover">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><a href="post-view.html"
                                                      style="text-decoration: none; color: black"></a>
                            </h5>
                            <p><small th:text="${post.getTitle()}" class="text-body-secondary"></small></p>
                            <p th:text="${post.getPrice()}"></p>
                            <p th:text="${post.getDescription()}" class="card-text"></p>
                            <p class="card-text"><small th:text="${post.getDate()}" class="text-body-secondary"></small>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</div>
