<div class="container mt-5">
    <div class="card w-75 m-auto p-5 shadow-lg">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{'data:image/jpeg;base64,'+${post.generateBase64Image()}}" alt="Post Image"
                     class="w-100 h-auto">
            </div>
            <div class="col-md-8">
                <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title mb-1" th:text="${post.getTitle()}">
                        </h5>
                        <p class="text-body-secondary mb-1 font-weight-bold h5"
                           th:text="'Price: $' + ${post.getPrice()}"></p>
                    </div>
                    <p class="text-body-secondary" th:text="${post.getTitle()}"></p>
                    <p class="card-text" th:text="${post.getCategory()}"></p>
                    <p class="card-text" th:text="${post.getDescription()}"></p>
                    <p class="card-text">
                        <small th:text="${post.getDate()}" class="text-body-secondary"></small>
                    </p>

                    <p class="font-weight-bold h5" th:text="${post.postAuthor.getPhoneNumber()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex justify-content-center mt-5 mb-5" style="background-color: #f0f2f5;">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border mt-3" style="background-color: #ded8d8;">
            <div class="card-body p-4">
                <div data-mdb-input-init class="form-outline mb-4">
                    <form method="post" th:action="@{'/' + ${post.getId()} + '/comment'}"
                          class="d-flex align-items-center">
                        <input type="text" id="addComment" class="form-control me-2" name="message"
                               placeholder="Type comment..."
                               th:disabled="${user == null}"/>
                        <button type="submit" class="btn btn-success btn-sm" th:disabled="${user == null}">Add Comment
                        </button>
                    </form>
                </div>

                <div class="mb-4" th:each="comment : ${comments}">
                    <div class="card-body bg-white">
                        <p th:text="${comment.message}"></p>
                    </div>
                    <p class="small mb-0 ms-2 mt-2" th:text="${comment.commentedBy.getUsername()}"></p>
                </div>


            </div>
        </div>
    </div>

</div>